<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Include>[LibraryDesk.Core]LibraryDesk.Core.Pricing.LateFeePolicy,[LibraryDesk.Core]LibraryDesk.Core.Services.LoanService</Include>
          <ExcludeByFile>**/obj/**</ExcludeByFile>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
